.redcard {
    width: 700px;
    height: auto;
    box-shadow: 4px 4px 4px 4px red;

}

.uppercase {
    color: rgb(250, 12, 12);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;

}

.home {
    color: rgb(223, 226, 37);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}